.head {
    display: flex;
    flex-direction: row;
    gap: 400px;
}

.raster {
    width: 800px;
    height: 800px;
    border: 2px solid black;
    border-radius: 25px;
    background-color: antiquewhite;
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
}

.cell {
    box-sizing: border-box;
    border: 1px solid black;
}

.cell:hover {
    background-color: rgb(158, 133, 104);
}